body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/books-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.book-list {
  height: 100%;
}

.add-book {
  height: 100vh;
}

.contact {
  height: 100vh;
}
